<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Twitter</title>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Custom styles for this template -->    
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">  
    <script src="/static/js/bootstrap.js"></script>
    <link rel="shortcut icon" href="/static/favicon.ico">   

</head>

<body>
    <div class="d">
        <div class="in">            
            <div class="row form">
                <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4"></div>
                <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">                    
                    <form role="form-inline" name="f1" method="POST" action="{{posts.domen}}">
                        <input type="text" name="enter_email" class="form-control form-group" placeholder="Enter email">
                        <input type="password" name="password" class="form-control form-group" placeholder="Password">
                        <button type="submit" class="btn btn-default form-group">Enter to Twitter</button>
                        <h4 class="inl form-group"><a class="form-group" href="{{ posts.reg_page }}"><strong>Register here</strong></a></h4>
                        
                    </form>
                    <!-- MESSAGE WRONG REGISTER-->

                    {% if not posts.username %}
                    
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      <strong>Warning!</strong><h4> There is no user wuth this e-mail or password</h4>
                    </div>                                            
                    {% endif %}
                </div>
                <div class="col-xs-1 col-md-2 col-md-3 col-lg-4"></div>
            </div>
        </div>
    </div>
</body>





</html>
